
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid aboutus-container">
    <div class="row section-header">
        <h2 class="d-flex justify-content-center faq-title" style="color: #BF214B">At Blood✔, We Connect.<br /></h2>
    </div>
    <img class="img-fluid aboutimg_top center-block mt-5" src="~/image/homepage/aboutus_top.jpg" />
    <p class="d-flex justify-content-center text-center blood-level-desc">
        Together we conquer difficulties and build a sustainable blood supply chain.
    </p>
    <div class="row">
        <h2 class="d-flex justify-content-center faq-title mt-3" style="color: #4A4E8C">Hospital Partners<br /></h2>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <img class="center-block" src="~/image/homepage/kpjlogo.png" style="height:205px;"/>
        </div>
        <div class="col-sm-3 mt-4">
            <img class="center-block" src="~/image/homepage/adventistlogo.png" style="height:105px;"/>
        </div>
        <div class="col-sm-3">
            <img class="center-block" src="~/image/homepage/GleneaglesLogo.png" />
        </div>
        <div class="col-sm-3">
            <img class="center-block" src="~/image/homepage/pantai-logo.png" style="height:130px;"/>
        </div>
    </div>
</div>

