@{
    ViewBag.Title = "Contact";
}

<div class="container-fluid contact-container">
    <div class="row section-header">
        <h2 class="d-flex justify-content-center faq-title">Contact Us<br /></h2>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-9 contact-form">
            <div class="row align-items-center contact-form-content">
                <div class="col-lg-7 mb-lg-0">
                    <form class="border-right pr-5 mb-5 messege-form" method="post" id="contact-us-form">
                        <div class="row">
                            <p>Leave Us A Message</p>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <input type="text" class="form-control" name="fname" id="fname" placeholder="First name" ng-model="feedback.firstname">
                            </div>
                            <div class="col-md-6 form-group">
                                <input type="text" class="form-control" name="lname" id="lname" placeholder="Last name" ng-model="feedback.lastname">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <input type="text" class="form-control" name="cemail" id="cemail" placeholder="Email" ng-model="feedback.email">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 form-group">
                                <input class="form-control" name="cmessage" id="cmessage" maxlength="100" placeholder="Write your message" style="resize:vertical;" ng-model="feedback.message">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mt-4">
                                <div class="d-flex justify-content-center">
                                    <button class="btn-modal contact-btn" ng-click="saveFeedback()">Send</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-4 ml-auto" style="margin-top:-50px; margin-left:26px;">
                    <div class="info">
                        <div class="email">
                            <i class="bi bi-envelope"></i>
                            <h4>Email:</h4>
                            <p><a href="mailto:webmaster@example.com" style="padding-left:17px;"> bloodplusofficial@gmail.com</a></p>
                        </div>
                        <div class="row">
                            <div class="facebook">
                                <i class="bi bi-facebook"></i>
                                <h4>Facebook:</h4>
                                <p><span style="padding-left:18px;">Blood+</span><br /><a href="https://www.facebook.com/bloodplusmalaysia" class="facebook" target="_blank" style="padding-left: 62px;">facebook.com/bloodplusmalaysia</a></p>
                            </div>
                        </div>
                        <div class="instagram">
                            <i class="bi bi-instagram"></i>
                            <h4>Instagram:</h4>
                            <p> <a href="https://www.instagram.com/bloodplusmalaysia/" target="_blank" class="instagram" style="padding-left:17px;">&#64;bloodplusmalaysia</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>