
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!------------------------------------------------------------OTP Container------------------------------------------------------ -->
<div class="otp-container container">
    <h2 class="d-flex justify-content-center blood-level-title">Reset Password<br /></h2>
    <div class="d-flex justify-content-center align-items-center">
        <div class="otp-card py-5 px-3">
            <h5 class="m-0" style="color: #BF214B">Change Your Password</h5><span class="mobile-text">Please create a new password that you don't use on any other site.</span>
            <form name="resetpassform">
                <div class="mt-2 form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control otp-form-control" id="resetpassword" name="resetpassword" placeholder="Enter Password">
                </div>
                <div class="mt-1 form-group">
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="password" class="form-control otp-form-control" id="resetConfirmPassword" name="resetConfirmPassword" placeholder="Confirm Password" ng-model="resetpassword">
                </div>
                <row class="d-flex justify-content-center mt-1">
                    <button class="btn-modal btnReset" ng-click="resetpass(resetpassword)">Change Password</button>
                </row>
            </form>
        </div>
    </div>
</div>


<!------------------------------------------------------------Mobile OTP Container(css refer template_home.css) OTP code container------------------------------------------------------ -->
@*<div class="otp-card py-5 px-3">
        <h5 class="m-0">Mobile phone verification</h5><span class="mobile-text">Enter the code we just send on your mobile phone <b class="text-danger">+91 86684833</b></span>
        <div class="d-flex flex-row mt-5"><input type="text" class="form-control otp-form-control" autofocus=""><input type="text" class="form-control otp-form-control"><input type="text" class="form-control otp-form-control"><input type="text" class="form-control otp-form-control"></div>
        <div class="text-center mt-5"><span class="d-block mobile-text">Don't receive the code?</span><span class="font-weight-bold text-danger cursor">Resend</span></div>
    </div>*@


