
@{
    ViewBag.Title = "DonationBenefit";
}

<head>
    <link href="~/Content/Css/donationBenefit.css" rel="stylesheet" />
</head>

<div class="page centralizedcontent">

    <div class="section1">
        <b class="faq-title"> The Benefit Of Blood Donation</b>
        <div class="barline" style="margin-left: 138px;"></div>
    </div>

    <div class="flexbox-container">
        <table class="table">
            <tr class="firstrow">
                <td>
                    <div class="left_frame1">
                        <div class="context">
                            <b>
                                1. Donating blood has benefits for your emotional and
                                physical health. According to a report by the Mental
                                Health Foundation, helping others can:
                            </b><br />
                            <div class="sub-context">
                                &#9679;  Reduce stress<br />
                                &#9679;  Improve your emotional well-being<br />
                                &#9679;  Benefit your physical health<br />
                                &#9679;  Help get rid of negative feelings<br />
                                &#9679;  Provide a sense of belonging and reduce isolation<br />
                            </div>
                        </div>
                    </div>
                </td>

                <td>
                    <div>
                        <img src="~/Content/images/benefitPic2.jpg" class="donationPic1" />
                    </div>
                </td>
            </tr>

            <tr class="secondrow">
                <td>
                    <div>
                        <img src="~/Content/images/benefitPic1.jpg" class="donationPic2" />
                    </div>
                </td>

                <td>
                    <div class="right_frame">
                        <div class="context">
                            <b>2. Free Health Checkup</b><br />
                            In order to give blood, you’re required to undergo a health screening.
                            A trained staff member performs this checkup. They’ll check your:<br />
                            <div class="sub-context">
                                &#9679;  pulse<br />
                                &#9679;  blood pressure<br />
                                &#9679;  body temperature<br />
                                &#9679;  hemoglobin level<br />
                            </div>
                            This free mini-physical can offer excellent insight into your health.
                        </div>
                    </div>
                </td>
            </tr>

            <tr class="thirdrow">
                <td>
                    <div class="left_frame2">
                        <div class="context">
                            <b>
                                3.Anti-Cancer Benefit
                            </b><br />
                            <div class="sub-context">
                                Blood donation helps in lowering the risk of cancer. By donating blood the
                                iron stores in the body are maintained at healthy levels. A reduction in the
                                iron level in the body is linked with low cancer risk.
                            </div><br />
                            <b>
                                4.Stimulate Blood Cell Production
                            </b><br />
                            After donating blood, the body works to replenish the blood loss. This stimulates
                            the production of new blood cells and in turn, helps in maintaining good health.
                        </div>

                    </div>
                </td>

                <td>
                    <div>
                        <img src="~/Content/images/benefitPic4.png" class=" donationPic1" />
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>