
@{
    ViewBag.Title = "EligibilityCriteria";

}

<head>
    <link href="~/Content/Css/eligibilityCriteria.css" rel="stylesheet" />
</head>

<div class="page centralizedcontent">
    <div class="section1 section-header">
        <b class="faq-title">Blood Donor Eligibility Criteria</b>
        <div class="barline" style="margin-left: 138px;"></div>

    </div>

    <div class="flexbox-container">
        <table class="table">
            <tr>
                <td>
                    <div>
                        <img src="~/Content/images/benefitPic2.jpg" class="donationPic1" />
                        <div class="figuredesc">
                            It is important to meet the eligibility criteria for blood donors before
                            donating blood.
                        </div>
                    </div>
                </td>

                <td>
                    <div class="criteria-title"><b>THING YOU NEED TO KNOW BEFORE DONATE BLOOD</b></div>
                    <div class="right_frame">
                        <div class="context">
                            <b>1. Age :</b>18-65 years old<br />
                            <b>2. Weight : </b>45kg and above.<br />
                            <b>3. Had minimum of 5 hours sleep.</b><br />
                            <b>4. Had a meal before blood donation.</b><br />
                            <b>5. No medical illness.</b><br />
                            <b>6. Last whole blood donation was 3 months ago.</b><br />
                            <b>7. For female donors : </b><br />
                            <div class="sub-context">
                                Not pregnant, last menstrual period was
                                more than 3 days ago, and not breastfeeding.<br />
                            </div>
                            <b>8. Not involved in any high risk activities such as :-</b><br />
                            <div class="sub-context">
                                &#9679;  Same gender sex (homosexual)<br />
                                &#9679;  Bisexual<br />
                                &#9679;  Had sex with commercial sex worker<br />
                                &#9679;  Change in sexual partner<br />
                                &#9679;  Took intravenous drug<br />
                                &#9679;  A sexual partner of any of the above<br />
                            </div>

                        </div>
                    </div>

                </td>
            </tr>

        </table>
    </div>
</div>